.Navbar {
    width: 100%;
    border-bottom: 3px solid #FFFFFF;
}
.NavItem {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.02em;
    width: 100%;
    text-align: center;
}

.NavItem__a {
    color: white;
    text-decoration: none;
    padding: 5% 0%;
    display: inline-block;
    width: 100%;
}

.NavItem__a--active {
    background: white;
    color: black;
}