.Title {
    width: 100%;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 2%;
    padding-left: 1%;
    border-bottom: 3px solid #FFFFFF;
    margin-bottom: 3%;
}